@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply container mx-auto;
}

.content-section-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
  scroll-behavior: smooth;
  justify-content: flex-start;

  scroll-snap-type: x mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  scroll-padding: 0px;
}

.content-section-scroll::-webkit-scrollbar {
  display: none;
}

.card-genre:nth-child(even) {
  @apply text-white bg-pink-600 shadow-md shadow-pink-500;
}
.card-genre:nth-child(odd) {
  @apply text-white bg-purple-700 shadow-md shadow-purple-500;
}

.gradient-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.rating-icon .MuiRating-iconEmpty {
  @apply text-gray-800 dark:text-gray-500;
}
